<div align="center">
  <h1>Our Current Library</h1>
  <% if logged_in? %>
    <p><a href='/users/<%= current_user.id %>'>Add Book To Library</a></p>
  <% end %>
</div>
<div align="center">
  <% @books.each do |book| %>
    <p><a href="/books/<%= book.id %>"><%= book.title %></a> written by
      <%= book.author %> | <%= book.status %></p>
  <% end %>
</div>
